.chat-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  // background-color: rgb(36, 36, 63);
  background: linear-gradient(135deg, rgba(36, 36, 63, .8) 15%, rgba(36, 36, 63, .8) 70%, rgba(36, 36, 63, .8) 110%),
  url("/assets/bg.png");
}

.main {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  overflow: auto;
}
