<div class="user-bar">
  <div class="title lobby-name">{{mpLobby?.roomName !== '' ? mpLobby?.roomName : mpLobby?.mpId}}</div>
  <div class="title players">Players: {{mpLobby?.players.length}}</div>
  <div class="title beatmap">Current map: <span *ngIf="mpLobby?.beatmapId === ''">none</span><a
      *ngIf="mpLobby?.beatmapId !== ''" [attr.href]="'https://osu.ppy.sh/b/'+mpLobby?.beatmapId"
      target="_blank">{{mpLobby?.beatmapId}}</a></div>
  <div class="title mods">Current mods: {{mpLobby?.mods.length === 0 ? 'none' : mpLobby?.mods}}</div>
  <div class="title freemod">Freemod: {{mpLobby?.freemod}}</div>
  <div class="title condition">Win condition: {{mpLobby?.winCondition}}</div>
  <div class="title mode">Team mode: {{mpLobby?.teamMode}}</div>
  <div class="title actions">
    <a (click)="refresh.emit()">refresh</a> |
    <a (click)="start.emit()">start in 10s</a> |
    <a (click)="abort.emit()">abort</a>
  </div>
  <hr>
  <virtual-scroller [items]="mpLobby?.players" [enableUnequalChildrenSizes]="false" (vsUpdate)="viewPortItems = $event">
    <div class="user" *ngFor="let player of viewPortItems">
      {{player.slot}}: <span class="name"
        [ngClass]="{'red': player.team === 'red', 'blue': player.team === 'blue'}">{{player.username}}</span>
    </div>
  </virtual-scroller>
</div>
